@font-face {
	font-family: 'Roboto Regular';
	src: url('/fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Black';
	src:url('/fonts/Roboto-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
}

body {
	min-height: 2000px;
}

a {
	text-decoration: none;
}

/* html {
	scroll-behavior: smooth;
  } */

.container__max {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.first1 {
	position: relative;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
}

.popup__container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.png');
	z-index: 50;
	display: none;
}

.popup__container1 {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.png');
	z-index: 50;
	display: none;
}

.popup__menu {
	width: 0;
	height: 0;
	background-color: white;
	margin-top: 100px;
	margin-left: 20px;
	border:4px solid #F82370;
	border-radius:15px;
}

.menu__item a {
	color: black;
	text-decoration: none;
}

.menu__item a:hover {
	color: #F82370;
	text-decoration: none;
	border-bottom: 1px solid;
}

.menu__item  {
	padding: 20px;
	color: black;
	list-style-type: none;
}

.menu__item ul  {
	list-style-type: none;
}

.menu__item ul li  {
	list-style-type: none;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	padding-top: 10px;
}

.popup__feedback {
	width: 0;
	height: 0;
	background-color: #fff;
	border:4px solid #F82370;
	margin-top: 100px;
	left: 50%;
	transform: translateX(-50%);
	border-radius:15px;
	position: relative;
}

@media (max-width: 500px) {
	.popup__feedback {
		width: 290px !important;
		height: 280px !important;
	}
}

.popup__top {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 40px;
	line-height: 20px;
	cursor: pointer;
	color: #999;
	padding: 10px;
}

.popup__h2 {
	margin-left: 20px;
	font-size: 30px;
}

@media (max-width: 768px) {
	.popup__h2 {
		font-size: 18px;
	}
}

.popup__input {
	margin-left: 20px;
	font-size: 20px;
}

#popup__txt__name,
#popup__txt__tel {
	width: 70%;
	height: 100%;
	float: right;
	margin-right: 20px;
	border-radius: 5px;
	margin-bottom: 8px;
	margin-top: 4px;
	border:1px solid #F82370;
}

@media (max-width: 500px) {
	#popup__txt__name,
	#popup__txt__tel {
    width: 50%;
	}
}

.send__form {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: #F82370;
	border: 2px solid #F82370;
	background: none;
	outline-color: #F82370;
	cursor: pointer;
	height: 45px;
	width: 205px;
	font-size: 16px;
}

.header {
	padding-top: 30px;
	background-color:#FBFBFB;
}

.header_tel {
	display: inline-block;
	margin-right: 25px;
	font-family: 'Roboto Black', Arial, Helvetica, sans-serif;
	font-size: 26px;
}

.header_tel a {
	color: #000;
	font-family: 'Roboto Black', Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.header_tel a:hover {
	color:#F82370;
	text-decoration: none;

}

@media (max-width: 768px) {
	.header_tel {
		margin-right: 10px;
		font-size: 21px;
	}
}

@media (max-width: 360px) {
	.header_tel {
		margin-right: 10px;
		font-size: 15px;
	}
}
.header_nav {
	display: inline-block;
}

.header_nav ul {
	list-style-type: none;
}

.header_nav ul li {
	display: inline-block;
	font-size: 16px;
}

.header_nav ul li a {
	color: black;
	margin-right: 30px;
}

.header_nav ul li a:hover {
	color: #F82370;
	text-decoration: none;
	border-bottom: 1px solid;
}

.header__mobile {
	display: none;
}

@media (max-width: 1024px) {
	.header__mobile {
		display: block;
		width: 27px;
		height: 27px;
		margin-left: 20px;
		padding:20px;
		background-image: url('../img/menu-min.png');
		background-repeat: no-repeat;
		cursor: pointer;
		background-color: #FBFBFB;
		border: none;
	}

	.header_nav {
		display: none;
	}
}

.header_button {
	color: #F82370;
	border: 2px solid #F82370;
	background: none;
	outline-color: #F82370;
	cursor: pointer;
	height: 45px;
	width: 205px;
	font-size: 16px;
}

.header_button, 
.header_button:active, 
.header_button:focus{
    outline: none;
}

.header__button__mobile {
	display: none;
}

@media (max-width: 576px) {
	.header__button__mobile {
		display: block;
		float: right;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		padding:20px;
		background-image: url('../img/call-min.png');
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		background-color: #FBFBFB;
		border: none;
	}

	.header_button {
		display: none;
	}
}

.mb-3 {
 margin-bottom: 0rem !important;
}

.myclass {
	margin-bottom: 0rem !important;
}

.flying__symbol {

}


.symbol1 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to top, #ff8f5a, #ff2f96 72%);
    -webkit-background-clip: text;
	color: transparent;
	font-weight: 800;
	margin-top: 2%;
	margin-left: 5%;
	font-size: 30px;
	animation: symbol1 1.5s;
	transform: rotate(20deg);
}

.symbol2 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to top, #ff8f5a, #ff2f96 72%);
    -webkit-background-clip: text;
	color: transparent;
	font-weight: 800;
	font-size: 30px;
	margin-top: 15%;
	margin-left: 2%;
	animation: symbol2 1.5s;
	transform: rotate(-30deg);
}

.symbol3 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to top, #ff8f5a, #ff2f96 72%);
    -webkit-background-clip: text;
	color: transparent;font-weight: 800;
	margin-top: 30%;
	margin-left: 12%;
	font-size: 30px;
	animation: symbol3 1.5s;
}

.symbol4 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to top, #ff8f5a, #ff2f96 72%);
    -webkit-background-clip: text;
	color: transparent;
	font-weight: 800;
	margin-top: 2%;
	margin-left: 43%;
	font-size: 30px;
	animation: symbol4 1.5s;
	transform: rotate(-20deg);
}

.symbol5 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to top, #ff8f5a, #ff2f96 72%);
    -webkit-background-clip: text;
	color: transparent;
	font-weight: 800;
	margin-top: 25%;
	margin-left: 55%;
	font-size: 30px;
	animation: symbol5 1.5s;
	transform: rotate(15deg);
}

@media (max-width: 1450px) {
	.symbol3 {
		margin-top: 45%;
	}

}

@media (max-width: 1060px) {
	.symbol3 {
		margin-top: 30%;
	}
	.symbol4 {
		margin-left: 25%;
	}
	.symbol5 {
		margin-top: 18%;
		margin-left: 19%;
	}
}

@media (max-width: 768px) {
	.symbol1 {
		font-size: 30px;
		margin-top: 2%;
		margin-left: 5%;
	}
	.symbol2 {
		font-size: 30px;
		margin-top: 15%;
		margin-left: 7%;
	}
	.symbol3 {
		font-size: 30px;
		margin-top: 30%;
		margin-left: 5%;
	}
	.symbol4 {
		font-size: 30px;
		margin-top: 2%;
		margin-left: 65%;
	}
	.symbol5 {
		font-size: 30px;
		margin-top: 20%;
		margin-left: 80%;
	}
}

@media (max-width: 500px) {
	.symbol1 {
		font-size: 30px;
		margin-top: 2%;
		margin-left: 5%;
	}
	.symbol2 {
		font-size: 30px;
		margin-top: 18%;
		margin-left: 7%;
	}
	.symbol3 {
		font-size: 30px;
		margin-top: 40%;
		margin-left: 5%;
	}
	.symbol4 {
		font-size: 30px;
		margin-top: 2%;
		margin-left: 65%;
	}
	.symbol5 {
		display: none;
	}
}

@media (max-width: 500px) {
	.symbol1 {
		font-size: 25px;
		margin-top: 2%;
		margin-left: 5%;
	}
	.symbol2 {
		font-size: 25px;
		margin-top: 18%;
		margin-left: 7%;
	}
	.symbol3 {
		font-size: 25px;
		margin-top: 55%;
		margin-left: 5%;
	}
	.symbol4 {
		font-size: 25px;
		margin-top: 2%;
		margin-left: 65%;
	}
	
}


@keyframes symbol1 {
	0% {transform:translate(1000px, 400px) rotate(20deg);}
	100% {transform:translate(0) rotate(20deg);}
}
@keyframes symbol2 {
	0% {transform:translate(1000px, 400px);}
	100% {transform:translate(0) rotate(-30deg);}
}
@keyframes symbol3 {
	0% {transform:translate(1000px, 200px);}
	100% {transform:translate(0);}
}
@keyframes symbol4 {
	0% {transform:translate(1000px, 200px);}
	100% {transform:translate(0)rotate(-20deg);}
}
@keyframes symbol5 {
	0% {transform:translate(1000px, 200px);}
	100% {transform:translate(0) rotate(15deg);}
}

.first {
	background-color:#FBFBFB;
	display: flex;
}

	@media (max-width: 1060px) {
		.first {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: column;
		}
	}

.first_left {
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 65%;
	padding-left: 10%;
	z-index: 10;
}

@media (max-width: 1060px) {
	.first_left {
		padding-left: 20px;
		text-align: center;
		width: 100%;
	}
}

.name {
	font-family: 'Roboto Black', Arial, Helvetica, sans-serif;
	font-size: 80px;
	padding-top: 210px;
}

@media (max-width: 1024px) {
	.name {
		padding-top: 210px;
	}
}

@media (max-width: 1060px) {
	.name {
		font-size: 60px;
		padding-top: 20px;
	}
}
@media (max-width: 576px) {
	.name {
		font-size: 33px;
	}
}

.speciality {
	color: #8993AD;
	padding-top: 20px;
	font-size: 24px;
}

.first_button1 {
	padding-top: 40px;
	padding-bottom: 250px;
	z-index: 50;
}

.first_button,
.first_button:active, 
.first_button:focus,
.services_button,
.services_button:active,
.services_button:focus,
.footer__button,
.footer__button:active,
.footer__button:focus {
	outline: none;
}


@media (max-width: 1060px) {
	.first_button1 {
		padding-bottom: 80px;
	}
}

@media (max-width: 576px) {
	.first_button1 {
		padding-bottom: 50px;
	}
}

.first_button {
	height: 60px;
	width: 270px;
	font-size: 16px;
	color: #FFFFFF;
	border: none;
	background: #FF4E2E;
	outline-color: #FF4E2E;
	cursor: pointer;
	z-index: 50;
}


.first_right {
	min-height: 500px;
	flex-grow: 1;
	background-image:
	url('../img/myphoto.png'),
	url('../img/myshadow.png'),
	url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000px' height='727px'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient'%3E%3Cstop offset='0%25' stop-color='%23FB8A5E'/%3E%3Cstop offset='100%25' stop-color='%23FE3497'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M0,651C221,24 847,24 918,475C899,1000 48,1000 0,651Z' fill='url(%23linear-gradient)'/%3E%3C/svg%3E");
	background-repeat: no-repeat no-repeat;
	background-position: bottom, left, bottom left;
	z-index: 10;
}

@media (max-width: 1060px) {
	.first_right {
		order: -1;
		margin: 20px 0;
		background-position: top, top, top;
	}
}

@media (max-width: 768px) {
	.first_right {
		margin-left: 0;
		margin-right: 0;
	}
}

.services {
	background-color: #fff;
}

.services_top {
	margin: auto;
	padding-top: 80px;
	font-family: 'Roboto Black', Arial, Helvetica, sans-serif;
	font-size: 55px;
	text-align: center;
}

@media (max-width: 576px) {
	.services_top {
		padding-top: 50px;
		font-size: 33px;
	}
}

.services_items {
	display: flex;
	justify-content: center;
	align-items: stretch;
	text-align: center;
	margin-top: 80px;
}

@media (max-width: 576px) {
	.services_items {
		margin-top: 50px;
	}
}

.services_img {
	height: 74px;
}

img {
    vertical-align: middle;
    border-style: none;
    margin: auto;
}

.services_text {
	color: #8993AD;
	text-align: center;
	font-size: 20px;
}

@media (max-width: 1024px) {
	.services_items {
		width: 100%;
		display: block;
	}
	.services_item {
		display: inline-block;
		width: 34%;
		margin-bottom: 40px;
	}
}

@media (max-width: 600px) {
	.services_items {
		width: 100%;
		display: block;
	}
	.services_item {
		display: inline-block;
		width: 50%;
		margin-bottom: 40px;
	}
}

.button {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}

@media (max-width: 1060px) {
	.button {
		padding-top: 40px;
	}
}

@media (max-width: 576px) {
	.button {
		padding-top: 10px;
		padding-bottom: 50px;
	}
}

.button1 {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}

@media (max-width: 576px) {
	.button1 {
		padding-bottom: 50px;
	}
}

.services_button {
	height: 60px;
	width: 270px;
	font-size: 16px;
	color: #FFFFFF;
	border: none;
	background: #FF4E2E;
	outline-color: #FF4E2E;
	cursor: pointer;
}

.examples {
	background-color:#FBFBFB;
}

.single-slide {
	padding-top: 80px;
}

@media (max-width: 576px) {
	.single-slide {
		padding-top: 50px;
	}
}

.slide_txt {
	padding-top: 30px;
	color: #8993AD;
	font-size: 20px;
	text-align: center;
}

.slide_txt a {
	color: #8993AD;
	text-decoration: none;
}

.slide_txt a:hover {
	color: #F82370;
	text-decoration: none;
}

span {
    width: 60px;
	height: 60px;
  }

  .slide-arrow {
	  position: absolute;
  }

  .arrow-prev {
	margin-top: 120px;
	left: -30px;
	box-shadow: 0 0 20px #F3F3F3;
	border-radius: 30px;
	cursor: pointer;
	background-image: url('../img/arrow.png');
	width: 60px;
	height: 60px;
	border: none;
	z-index: 40;
}

.arrow-next {
	margin-top: -220px;
	right: -10px;
   box-shadow: 0 0 20px #F3F3F3;
   border-radius: 30px;
   cursor: pointer;
   background-image: url('../img/arrow.png');
   width: 60px;
   height: 60px;
   border: none;
   z-index: 40;
   transform: rotate(200grad);
}

.banner {
	background: linear-gradient(to top right, #FF8F5A, #FF2F96);
	overflow: hidden;
}

.symbol6 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:white;
	font-size: 30px;
	margin-top: 2%;
	margin-left: 2%;
	transform: skewX(-35grad);
	width: 70px;
}

.symbol7 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:white;
	font-size: 30px;
	margin-top: 9%;
	margin-left: 10%;
	transform: skewX(-35grad);
}

.symbol8 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:white;
	font-size: 30px;
	margin-top: 0%;
	margin-left: 80%;
	transform: skewY(-8grad);
}

.symbol9 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:white;
	margin-top: 7%;
	margin-left:74%;
	font-size: 30px;
	transform: skewY(35grad);
}

.symbol10 {
	position: absolute;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:white;
	font-size: 30px;
	margin-top: 5%;
	margin-left: 90%;
	transform: skewX(23grad);
}

@media (max-width: 1024px) {
	.symbol6,
	.symbol7,
	.symbol8,
	.symbol9,
	.symbol10 {
		display: none;
	}
}

.banner_text {
	color: white;
}

.banner_text1 {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 40px;
	padding-bottom: 20px;
	font-family:'Roboto Black', Arial, Helvetica, sans-serif;
	font-size: 48px;
}

@media (max-width: 1024px) {
	.banner_text1 {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
	}
}

@media (max-width: 768px) {
	.banner_text1 {
		padding-top: 40px;
		font-size: 41px;
	}
}

@media (max-width:320px) {
	.banner_text1 {
		font-size: 30px;
	}
}

.banner_text2 {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 40px;
	font-size: 21px;
	color: white;
	}

	@media (max-width: 1024px) {
		.banner_text2 {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 10px;
			padding-bottom: 40px;
		}
	}

@media (max-width:320px) {
	.banner_text2 {
		font-size: 15px;
	}
}

.footer_column {
	vertical-align: top;
	width: 28.5%;
	display: inline-block;
	padding-top: 80px;
	padding-bottom: 65px;
}



@media (max-width:730px) {
	.footer_column {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 0;
		padding-left: 100px;
	}
}

@media (max-width:576px) {
	.footer_column {
		padding-left: 20px;
	}
}

.footer_column:nth-child(1) {
	width:23%;
}

@media (max-width:1170px) {
	.footer_column:nth-child(1) {
		padding-left: 20px;
	}
}

@media (max-width:730px) {
	.footer_column:nth-child(1) {
		width: 100%;
		padding-top: 40px;
	}
}

.footer_column:nth-child(2) {
	width: 45%;
}

@media (max-width:730px) {
	.footer_column:nth-child(2) {
		width: 100%;
		padding-left: 20px;
	}
}

@media (max-width:730px) {
	.footer_column:nth-child(3) {
		padding-bottom: 20px;
		padding-left: 20px;

	}
}


@media (max-width:730px) {
.footer__column__button {
	padding: 10px 0 20px 0;
	}
}


.footer__button {
	color: #F82370;
	border: 2px solid #F82370;
	background: none;
	outline-color: #F82370;
	cursor: pointer;
	height: 45px;
	width: 205px;
	font-size: 16px;
}

@media (max-width:730px) {
	.footer__button {
		height: 60px;
		width: 270px;
		font-size: 16px;
		color: #FFFFFF;
		border: none;
		background: #FF4E2E;
		outline-color: #FF4E2E;
		cursor: pointer;
	}
}

.footer_nav {
	list-style-type: none;
	margin-bottom: 0;
	display: block;
}

.footer_nav a {
    color: #8993AD;
    font-size: 16px;
	margin-bottom: 15px;
}

.footer_nav li {
	padding-bottom: 15px;
}

.footer_nav a:hover {
	color: #F82370;
	text-decoration: none;
	border-bottom: 1px solid;
	border-spacing: 0.5px;
}

.footer_phone,
.footer_mail {
	font-size:20px;
	color:#FF2F96;
	padding-right: 20px;
	padding-bottom: 33px;
}

.footer_mail {
	padding-bottom: 0;
}

@media (max-width:730px) {
	.footer_phone,
	.footer_mail {
	padding-bottom: 10px;
	}
}

.footer_phone a,
.footer_mail a {
	font-size: 24px;
	color: black;
}

.footer_phone a:hover,
.footer_mail a:hover {
	color: #FF2F96;
	text-decoration: none;
}

.fas{
	padding-right: 20px;
}

@media (max-width:370px) {
	.footer_phone a,
	.footer_mail a {
		font-size: 20px;
		padding-left: 20px;
	}
}

.social {
	padding-top: 20px;
	margin-bottom: 0px;
}

@media (max-width:730px) {
	.social {
		padding-bottom: 20px;
	}
}

/* .social a {
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	display: inline-block;
	margin-right: 10px;
}

.vk {background-position: 0 0;}

.facebook {background-position: 0 -24px;}

.twitter {background-position: -24px 0px;}

.instagram {background-position: -24px -24px;} */

a{
	text-decoration: none;
  }

  /* .share-buttons a {
	text-decoration: none;
  }
  .share-buttons{
	  max-width: 300px;
	margin: 0;
  }
  .share-block{
	display: inline-block;
	  background: #FBFBFB;
	  width: 45px;
	  height: 30px;
	  text-align: center;
	  transition: 0.5s;
  }

  .share-block i{
	  font-size: 30px;
	  position: relative;
	  top: 5px;
  }
  .share-block span{
	  display: block;
	  position: relative;
	  top: -9px;
	  font-size: 10px;
	  line-height: 1;
  }
  .share-buttons .facebook{
	  color: #3b5998;
  }
  .share-buttons .vk{
	  color: #5E82A8;
  }
  .share-buttons  .linkedin{
	  color: #0976b4;
  }
  .share-buttons .pinterest{
	  color: #cc2127;
  }
  .share-buttons .google{
	  color: #d73925;
  }
  .share-buttons .twitter{
	  color: #55acee;
  } */

  .footer_bottom {
	height:80px;
	background-color: #31293C;
}

.footer_text {
	padding-left: 15px;
	padding-top: 30px;
	margin: auto;
	color:  white;
	text-align: center;
}

.slick-dots li button:before {
	font-size: 20px;
}

.slick-dots li {
	width: 40px;
}

.slick-dots {
	bottom: -60px;
}

.slick-dots li.slick-active button:before {
    color: #FF4E2E;
}

.error {
	background-color: red !important;
}